
<nb-card>
  <nb-card-body>
    <h6>Transaction Confirmation</h6>



    <div class="row">
      <div class="col">
        <p>Sending: {{send_amount + ' ' +  send_token.name}} </p>
      </div>

      <div class="col">
        <p>To address: {{ recipient_address }}</p>
      </div>
    </div>

    <p>Gas fee: {{ gas_fee ? gas_fee + ' (eth)' : '0.00 eth' }} </p>

    <div id="warning">
      <nb-icon icon="alert-circle-outline"></nb-icon>
      <p>Warning: Make sure the information is correct.
        Sending funds to a wrong address is irreversible and funds will be lost</p>
    </div>

    <br>
    <br>
    <p *ngIf="!checkEnoughFunds()" class="err">Insufficient funds</p>

    <div class="flex">
      <button nbButton (click)="close()">Cancel</button>
      <button nbButton (click)="confirmSendTx()" [disabled]="!checkEnoughFunds()">Confirm Transaction</button>
    </div>
  </nb-card-body>
</nb-card>
