<h1>Secure your assets with a password</h1>
<p>Password must be at least 7 characters long and contain at least one number and one special character</p>

<form [formGroup]="passwordForm">
  <input nbInput
         type="password"
         formControlName="password"
         placeholder="Password"/>
  <br><br>

  <input
    type="password"
    nbInput
    placeholder="Confirm Password"
    formControlName="confirm_password"/>

  <br>
  <br>
  <button nbButton
          [disabled]="passwordForm.invalid"
          (click)="onContinue()">Continue
  </button>

</form>

<!--{{  passwordForm.value | json }}-->
<!--<br>-->
<!--<br>-->
<!--{{ "is valid : " + passwordForm.valid }}-->
<!--<br>-->
<!--<br>-->
<!--{{ passwordForm.errors | json }}-->

<button nbButton nbStepperNext>next</button>
<button nbButton nbStepperPrevious>back</button>
