<nb-card>
  <nb-card-body>

    <nb-stepper orientation="horizontal" linear="false" disableStepNavigation="true" [selectedIndex]="stepIndex">
      <nb-step label="Create Password">
        <app-create-password (passwordSubmitEvent)="onPasswordSubmit($event)"></app-create-password>
      </nb-step>

      <nb-step label="Confirm">
        <app-wallet-confirmation (confirmEvent)="createWallet()"></app-wallet-confirmation>
      </nb-step>

      <nb-step label="Recovery Phrase">
        <app-display-mnemonic [mnemonic]="this.mnemonic">
        </app-display-mnemonic>
      </nb-step>

      <nb-step label="Verify Phrase">
        <app-verify-mnemonic [mnemonic]="this.mnemonic"
                             (mnemonic_verification_event)="complete_wallet_setup()">
        </app-verify-mnemonic>
      </nb-step>
    </nb-stepper>

  </nb-card-body>
</nb-card>
