<nb-card>
  <nb-card-body>

    <nb-stepper orientation="horizontal" linear="false" disableStepNavigation="true" [selectedIndex]="stepIndex">
      <nb-step label="Create Password">
        <app-create-password (passwordSubmitEvent)="onPasswordSubmit($event)"></app-create-password>
      </nb-step>

      <nb-step label="Confirm">
        <app-wallet-confirmation (confirmEvent)="createWallet()"></app-wallet-confirmation>
      </nb-step>

      <nb-step label="Recovery Phrase">
        <app-display-mnemonic [mnemonic]="this.mnemonic"
                              (backupConfirmEvent)="nextStep()">>

        </app-display-mnemonic>
      </nb-step>

      <nb-step label="Verify Phrase">
        <p>4</p>
      </nb-step>
    </nb-stepper>

  </nb-card-body>
</nb-card>




<!--<div class="card" [ngSwitch]="stepIndex">-->

<!--  <app-create-password *ngSwitchCase="0"-->
<!--                       (passwordSubmitEvent)="onPasswordSubmit($event)">-->
<!--  </app-create-password>-->

<!--  <app-wallet-confirmation *ngSwitchCase="1"-->
<!--                           (continueEvent)="createWallet()">-->
<!--  </app-wallet-confirmation>-->

<!--  <app-display-mnemonic *ngSwitchCase="2"-->
<!--                        [mnemonic]="this.mnemonic"-->
<!--                        (backupConfirmEvent)="nextStep()">-->
<!--  </app-display-mnemonic>-->

<!--  <app-verify-mnemonic *ngSwitchCase="3"-->
<!--                       [mnemonic]="this.mnemonic"-->
<!--                       (mnemonic_verification_event)="navigateToDashboard()">-->
<!--  </app-verify-mnemonic>-->

<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <p-button *ngIf="this.stepIndex > 0" label="Back" (click)="previousStep()"></p-button>-->
<!--</div>-->




<!--{{ this.wallet | json }}-->

<!--<p *ngIf="this.wallet"> {{ this.wallet.mnemonic.phrase }}</p>-->


<!--['one', 'two', 'three']-->
