<nb-card>
  <nb-card-body>
    <h5>Send</h5>
    <form [formGroup]="send_transaction_form">
      <nb-select [(selected)]="selected_token" formControlName="selected_token" (selectedChange)="getGasFee()">
        <nb-select-label>
          <img *ngIf="selected_token.image" [src]="selected_token['image']" [alt]="selected_token.symbol"> <span> {{ selected_token.name }}</span>
        </nb-select-label>
        <nb-option *ngFor="let token of tokens_data" [value]="token">
          <div>
            <div>
              <span>
                <img *ngIf="token.image" src="{{ token.image }}" alt="{{ token.symbol }}">
                {{ token.symbol.toUpperCase() }}
              </span>
            </div>

            <div class="token-balance">
              <span>
                {{ "Balance: " + token.balance }}
              </span>
            </div>
          </div>
        </nb-option>
      </nb-select>
      <p> {{ 'balance: ' + selected_token.balance }}</p>
      <br>
      <br>

      <input type="number" nbInput placeholder="Amount" formControlName="send_amount">
      <div *ngIf="send_transaction_form.invalid && send_amount_edited">
        <div *ngIf="send_transaction_form.hasError('invalidSendAmount')">
          Invalid send amount: enter value greater than 0
        </div>

        <div *ngIf="send_transaction_form.hasError('sendAmountHigh')">
          Not enough balance to send
        </div>
      </div>

      <br>
      <br>
      <input type="text" nbInput placeholder="Receiving Address" formControlName="receiving_address">
      <div *ngIf="receiving_address.invalid && (receiving_address.touched || receiving_address.dirty)">
        <div *ngIf="receiving_address.hasError('invalidAddress')">
          Invalid address entered
        </div>
      </div>

      <br>
      <h6>Transaction fee</h6>
        <p> {{ 'Estimated gas fee: ' + gasFee }}</p>
        <br>
        <br>
      <br>
      <br>
      <button nbButton (click)="next()" [disabled]="send_transaction_form.invalid">Next</button>
    </form>
  </nb-card-body>
</nb-card>

