<nb-card [nbSpinner]="loading_data" nbSpinnerStatus="danger" *ngIf="loading_data">
  <nb-card-body><h6>Loading data</h6></nb-card-body>
</nb-card>


<ng-container *ngIf="!loading_data">
  <nb-card *ngIf="network.name != 'homestead'">
    <nb-card-body>
      <nb-alert outline="basic">
        <nb-icon icon="alert-circle-outline"></nb-icon>
        Swap is not available on this network
        Please select Ethereum Mainnet network to use this feature.
      </nb-alert>
    </nb-card-body>
  </nb-card>

  <app-swap-form *ngIf="network.name == 'homestead'"
                 [tokens_data]="tokens_data"
                 [wallet]="wallet"></app-swap-form>
</ng-container>
