
<nb-card [nbSpinner]="loading"
         nbSpinnerSize="giant"
         nbSpinnerMessage="Loading Wallet"
         nbSpinnerStatus="success">
  <nb-card-body>
    <h1>Secure your assets with a password</h1>
    <p>Password must be at least 7 characters long and contain at least one number and one special character</p>

    <form [formGroup]="passwordForm">
      <input nbInput
             type="password"
             formControlName="password"
             placeholder="Password"/>
      <br><br>

      <input
        type="password"
        nbInput
        placeholder="Confirm Password"
        formControlName="confirm_password"/>

      <br>
      <br>

      <button
        nbButton
        nbStepperNext
        [disabled]="passwordForm.invalid"
        (click)="onContinue()">Continue</button>

    </form>




  </nb-card-body>
</nb-card>
