<nb-card>
  <nb-card-body>
    <h5>Swap</h5>
    <form [formGroup]="swap_form">
      <label for="from_token">Swap From</label>
      <br>
      <app-select-token id="from_token" [tokens_data]="tokens_data" [form_control]="from_token"></app-select-token>
      <br>
      <br>
      <input type="number" nbInput placeholder="Amount" formControlName="amount">
      <br>
      <br>
      <br>
      <br>
      <br>

      <label for="to_token">Swap To</label>
      <br>
      <app-select-token id="to_token" [tokens_data]="tokens_data" [form_control]="to_token"></app-select-token>
      <br>
      <br>
      <button nbButton [disabled]="swap_form.invalid">Review swap</button>
    </form>
  </nb-card-body>
</nb-card>


