
<nb-card [nbSpinner]="loadingWallet"
         nbSpinnerSize="giant"
         nbSpinnerMessage="Unlocking wallet"
         nbSpinnerStatus="success">
  <nb-card-body>
    <h4>Unlock wallet</h4>
    <br>
    <br>
    <br>

    <label for="pass">Enter password to unlock wallet</label>
    <br>
    <br>
    <input nbInput
           type="password"
           [formControl]="password"
           placeholder="Password"
           id="pass"/>
    <br>
    <br>
    <br>



    <button
      nbButton
      [disabled]="password.value == '' || loadingWallet == true" size="large"
      (click)="accessWallet()">
      Open Wallet
    </button>
    <br>
    <br>
    <nb-alert class="login_err_msg" status="danger" *ngIf="login_error">{{ login_error }}</nb-alert>
  </nb-card-body>
</nb-card>


