
<h3>Verify recovery phrase</h3>
<p>Select the words of your recovery phrase in the right order</p>


<nb-card>
  <nb-card-body class="words-container">
    <div class="word"
         *ngFor="let word of re_entered_mnemonic; let i = index"
         (click)="undoSelection(word, i)">{{ (i + 1) + ". " + word }}</div>
  </nb-card-body>
</nb-card>





<div class="mixed-words-container">
  <div
    class="word"
    *ngFor="let word of randomisedMnemonic; let i = index;"
    (click)="selectWord(word, i)"> {{ word }}
  </div>
</div>

<br>
<br>
<nb-alert status="danger" *ngIf="mnemonic_error != ''">
  The mnemonic phrase you entered is not in the right order, check the previous step and note the mnemonic phrase again
</nb-alert>





<div class="btn-container">
  <button nbButton nbStepperPrevious>
    Back
  </button>

  <button class="right-btn" nbButton (click)="verifyWallet()">
    Verify Phrase
  </button>
</div>




