.words-container {
  min-height: 250px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}


.mixed-words-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}


.word {
  border: darkorchid 1px solid;
  text-align: center;
  padding: 5px;
  max-height: 35px;
  width: 30%;
}

.word:hover {
  cursor: pointer;
}


.right-btn {
  margin-left: 30px;
}


p {
  font-size: 16px;
}
