<nb-layout>

  <nb-sidebar>
    <nb-list>
      <nb-list-item>
        <a routerLink="/wallet/dashboard">Dashboard</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/wallet/send-transaction">Send Transaction</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/wallet/swap">Swap</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/wallet/dapps">Dapps</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/">Logout</a>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-column>
    <app-select-network></app-select-network>
  </nb-layout-column>
</nb-layout>
