<nb-layout>
  <nb-sidebar>
    <nb-sidebar-header style="position: relative; bottom: 80px;">
      <app-select-account></app-select-account>
    </nb-sidebar-header>

    <nb-list>
      <nb-list-item (click)="buyEther()">
        <div>Buy Ethereum</div>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/wallet/dashboard">Dashboard</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/wallet/transaction/send-tx">Send Transaction</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/wallet/tx-history">Transaction History</a>
      </nb-list-item>
      <nb-list-item>
        <a routerLink="/">Logout</a>
      </nb-list-item>
    </nb-list>

  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
