<nb-select status="primary" shape="round">
  <nb-option value="1">Option 1</nb-option>
</nb-select>

<button nbButton (click)="addAccount()">Create account</button>





























<!--<div>-->
<!--  <div style="border: solid 1px; width: 100%;" (click)="toggleAccountsMenu()">Account <nb-icon icon="arrow-down"></nb-icon></div>-->

<!--  <nb-list *ngIf="display_acc_menu" style="background-color: black">-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--  </nb-list>-->

<!--  <p style="text-overflow: ellipsis; overflow: hidden;">{{ wallet.address }}</p>-->
<!--</div>-->
