<nb-card style="position: relative; z-index: 999;" [nbSpinner]="loading || overall_balance == undefined">
  <nb-card-body>
    <div class="flex-container" (click)="show_accounts_menu = !show_accounts_menu">
      <p>{{ selected_account }}</p>
      <nb-icon icon="chevron-down-outline"></nb-icon>
    </div>

    <ng-container *ngIf="!show_accounts_menu">
      <div class="address-container"
           (click)="copyAddress()"
           [nbPopover]="addressPopover"
           nbPopoverTrigger="hover" *ngIf="overall_balance != undefined">
        <p class="address">{{ wallet.address | truncateAddress }}</p>
        <nb-icon icon="copy-outline" id="clipboard-logo"></nb-icon>
      </div>

      <br>
      <h6 id="overall-balance">{{ overall_balance  }}</h6>
    </ng-container>




    <div *ngIf="show_accounts_menu">
      <app-account-list [accounts]="accounts"
                        (account_select)="onAccountSelect($event)"
                        [selected_account]="selected_account"></app-account-list>
      <div class="create-acc-btn" (click)="addAccount()">Create new account</div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #addressPopover>
  <span>{{ wallet.address }}</span>
</ng-template>




























<!--<div>-->
<!--  <div style="border: solid 1px; width: 100%;" (click)="toggleAccountsMenu()">Account <nb-icon icon="arrow-down"></nb-icon></div>-->

<!--  <nb-list *ngIf="display_acc_menu" style="background-color: black">-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--  </nb-list>-->

<!--  <p style="text-overflow: ellipsis; overflow: hidden;">{{ wallet.address }}</p>-->
<!--</div>-->
