<nb-select status="primary"
           shape="round"
           [(selected)]="selected_account"
           (selectedChange)="onAccountSelect()">
  <nb-select-label>
    {{ selected_account  }}
  </nb-select-label>

  <nb-option *ngFor="let account of accounts | keyvalue" [value]="account.key"> {{ account.key }} </nb-option>
</nb-select>

<br>
<br>
<button nbButton (click)="addAccount()">Create account</button>































<!--<div>-->
<!--  <div style="border: solid 1px; width: 100%;" (click)="toggleAccountsMenu()">Account <nb-icon icon="arrow-down"></nb-icon></div>-->

<!--  <nb-list *ngIf="display_acc_menu" style="background-color: black">-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--    <nb-list-item>-->
<!--      List item-->
<!--    </nb-list-item>-->
<!--  </nb-list>-->

<!--  <p style="text-overflow: ellipsis; overflow: hidden;">{{ wallet.address }}</p>-->
<!--</div>-->
