<nb-card *ngIf="network">
  <nb-card-body>
    <table>
      <tr>
        <th>TOKEN</th>
        <th>PRICE</th>
        <th>MARKET CAP</th>
        <th>24H</th>
        <th>BALANCE</th>
      </tr>

      <ng-container *ngIf="network.name == 'ropsten'">
        <tr>
          <td>ROP</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ ethBalance }}</td>
        </tr>
      </ng-container>


      <ng-container *ngIf="network.name == 'rinkeby'">
        <tr>
          <td>RIN</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ ethBalance }}</td>
        </tr>
      </ng-container>


<!--      <tr *ngFor="let token of tokensData">-->
<!--        <td><div><span><img src="{{ token.image }}" alt="{{ token.symbol }}"> {{ token.symbol.toUpperCase() }}</span> </div></td>-->
<!--        <td>{{ token.current_price }}</td>-->
<!--        <td>{{ token.market_cap }}</td>-->
<!--        <td>{{ token.price_change_percentage_24h }}</td>-->
<!--        <td>{{ "token.balance" }}</td>-->
<!--      </tr>-->

    </table>
  </nb-card-body>
</nb-card>
