<nb-card [nbSpinner]="loading_data" nbSpinnerStatus="success" *ngIf="loading_data">
  <nb-card-body><h6>Loading data</h6></nb-card-body>
</nb-card>

<nb-card *ngIf="!loading_data && tx_history.length > 0">
  <nb-card-body class="table-container">
    <table *ngIf="!loading_data">
      <tr>
        <th>Time</th>
        <th>Type</th>
        <th>Asset</th>
        <th>Amount</th>
        <th>Address</th>
        <th>Status</th>
      </tr>

      <tr *ngFor="let transaction of tx_history">
        <td> {{ transaction.time }} </td>
        <td> {{ transaction.type }} </td>
        <td> {{ transaction.asset }} </td>
        <td> {{ transaction.amount }} </td>
        <td> {{ transaction.type == 'Send' ? 'To ' + transaction.address : 'From ' + transaction.address }} </td>
        <td> {{ transaction.status }} </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!loading_data && tx_history.length == 0">
  <nb-card-body>
    <h6>There are currently no transactions to this account address.</h6>
  </nb-card-body>
</nb-card>
