<h6>Welcome to DE-Wallet</h6>
<h6> To begin, create, unlock or restore Ethereum wallet</h6>
<button nbButton *ngIf="keystore" (click)="unlockWallet()">Unlock Wallet</button>
<br>
<br>
<button nbButton *ngIf="keystore" [nbPopover]="warning_restore" nbPopoverPlacement="bottom">Restore Wallet</button>
<button nbButton *ngIf="!keystore" (click)="restoreWallet()">Restore Wallet</button>


<br>
<br>
<button *ngIf="keystore" nbButton [nbPopover]="warning_create" nbPopoverPlacement="bottom">Create Wallet</button>
<button *ngIf="!keystore" nbButton (click)="createWallet()">Create Wallet</button>


<ng-template #warning_restore>
  <span>Current wallet may be removed from memory</span>
  <button nbButton (click)="close()">Cancel</button>
  <button nbButton (click)="restoreWallet()">Confirm</button>
</ng-template>


<ng-template #warning_create>
  <span>Current wallet may be removed from memory</span>
  <button nbButton (click)="close()">Cancel</button>
  <button nbButton (click)="createWallet()">Confirm</button>
</ng-template>
