<h5>Welcome to DE-Wallet</h5>
<h6> To begin, create, unlock or restore Ethereum wallet</h6>
<button nbButton size="giant" hero *ngIf="keystore" (click)="unlockWallet()">Unlock Wallet</button>
<br>
<br>
<button nbButton size="giant" hero *ngIf="keystore" [nbPopover]="warning_restore" nbPopoverPlacement="bottom">Restore Wallet</button>
<button nbButton size="giant" hero *ngIf="!keystore" (click)="restoreWallet()">Restore Wallet</button>


<br>
<br>
<button *ngIf="keystore" nbButton size="giant" hero [nbPopover]="warning_create" nbPopoverPlacement="bottom">Create Wallet</button>
<button *ngIf="!keystore" nbButton size="giant" hero (click)="createWallet()">Create Wallet</button>


<ng-template #warning_restore class="test">
  <div class="popover">
    <div class="warn-msg">
      <nb-icon icon="alert-circle-outline"></nb-icon>
      <span>Current wallet will be removed from memory</span>
    </div>
    <br>
    <div class="btn-container">
      <button nbButton size="tiny" (click)="close()">Cancel</button>
      <button nbButton size="tiny" (click)="restoreWallet()" status="info">Confirm</button>
    </div>
  </div>
</ng-template>


<ng-template #warning_create>
  <div class="popover">
    <div class="warn-msg">
      <nb-icon icon="alert-circle-outline"></nb-icon>
      <span>Current wallet will be removed from memory</span>
    </div>

    <br>
    <div class="btn-container">
      <button nbButton size="tiny" (click)="close()">Cancel</button>
      <button nbButton size="tiny" (click)="createWallet()" status="info">Confirm</button>
    </div>
  </div>
</ng-template>



